spacy==3.7.4
scipy==1.13.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
networkx==3.2
streamlit==1.36.0
plotly==5.15.0
matplotlib==3.8.0
pandas==2.1.0
python-docx==0.8.11
pdfplumber==0.10.2
requests==2.31.0
beautifulsoup4==4.12.2
